<div class="container">
	<%= render 'shared/masthead' %>
	<h2 class="page-header">History</h1>

	<div class="row-fluid">
		<div class="span7">
			<p>
				No group of fliers sence the Flying Tigers of China has ever emerged from the war with greater glory than the world famou Liverator unit… the Jolly Rogers. Month after month, since September 1942, American newspapers and magazines have brimmed over with colorful stories about this most colorful of all B-24 outfits.
			</p>
			<p>
				Less celebrated Liberator units have complained that acclaim fell to the Jolly Rogers because of thier fascinating name and twin-tail insignia - a huge skull surmounting twin crossed bombs. However, no single heavy bomber unit in the Air Corps show dowm more enemy aircraft than the the 90th.
			</p>
			<p>
				They began arriving in Brisbane, Australia in November of 1942, and subsequently began combat operations immediately. They shot down their first enemy aircraft on November 15, 1942, while the ground echelon was still underway, somewhere off of the coast of Fiji.
			</p>
			<p>
				In Febuary, all units of the Jolly Rogers with the exception of one were stationed at Port Moresby, New Guinea.  Shortly afterwards the enemy launched an Air Raid on Moresby, one of the largest since Pearl Harbor. On March 1st, Lt. Higgins spotted a convoy heading twards Lae, This sparked the Bismark Sea battle, which resulted in the deaths of 15,000 troops, 22 ships, and 54 enemy planes, while losing only 5 allied planes.
			</p>
			<p>
				On June 23rd, Capt. Olsen and his crew were killed by a a Japanese float plane that intentionally rammed his aircraft, shearing off the right wing. Later in the war kamikazis were seen frequently, however this was the first encounter with a suicide attack.
			</p>
		</div>
		<div class="span3 offset2">
			<%= image_tag('321.png') %>
		</div>
	</div>
</div>

