<div class="container">
	<%= render 'shared/masthead' %>
	<h2 class="page-header">History</h1>

	<div class="row-fluid">
		<div class="span7">
			<p>
				Established in early 1942 as a medium bomb group; assigned to III Bomber Command for training. Primarily trained in the southeastern United States with B-26 Marauders, later B-25 Mitchells.
			</p>
			<p>
				Redesignated as a B-24 Liberator heavy bomb group in August 1942 and reassigned to Willow Run Airport, Michigan for conversion training on newly-manufactured Ford Liberators. Assigned to VII Bomber Command with B-24Ds, the unit was reassigned to the Honolulu modification center at Hickam Field, Hawaii in September where the aircraft were prepared for duty in the Pacific Theater of Operations (PTO). During the next two months the group trained on long overwater navigation training and other necessities for operating in the Pacific.
			</p>
		</div>
		<div class="span3 offset2">
			<%= image_tag('321.png') %>
		</div>
	</div>
</div>

